.border-filter {
    position: relative;
    background: #fff;
}

.filter-checkbox {
    position: absolute;
    z-index: 2;
}

.border-filter ul {
    list-style: none;
    border: 1px solid gray;
    border-radius: 5px;
    width: 230px;
    padding: 0;
    background: #fff;
}

.border-filter ul li {
    border-radius: 5px;
    width: 228px;
    padding: 5px 15px;
    background: #fff;
}

.border-filter:hover ul {
    display: block !important;
}

.border-filter ul li:hover label {
    cursor: pointer;
}

.border-filter .fil-title {
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    width: 230px;
    padding: 5px 15px;
}

input {
    -webkit-appearance: checkbox !important;
}

.top-category #sort {
    border: 1px solid;
    padding: 5px 10px;
    width: 230px;
    border-radius: 5px;
}

.list-tags .filter-tag {
    border: 1px solid;
    background: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
}

/* .fil-color {
    width: 230px;
    font-size: 0px;
} */

/* .fil-color li {
    padding: 0 !important;
} */
