.productDetail {
    background: #f7f7f7;
}

.product-container-gallery{
    background: #fff;
    padding: 15px;
}

ul.product-meta {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0;
    font-size: 17px;
}

.productDetail-content {
    background: #fff;
}
.product__detail > div {
    font-size: 20px;
    padding:  20px 15px;
    
}

.product-price .pro-percen {
    background: red;
    color: #fff;
    padding: 2px;
    font-weight: 700;
}

.product-price .pro-price {
    color: red;
    font-weight: 700;
}