.product__image img {
    height: 320px;
    width: 230px;
}

.product__name {
    font-size: 21px;
    text-decoration: none !important;
    color: #444444 !important;
}

.product__item {
    position: relative;
    padding: 10px;
    background-color: #fff !important;
    height: 462px;
}

.slick-slide > div {
    padding: 10px !important;
}

.slick-dots {
    display: none !important;
}

.product-discount {
    position: absolute;
    left: 15px;
    border: 1px solid red;
    background: red;
    color: yellow;
}
